
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    font-family: "Rubik",sans-serif;
    background-image: url(dome3.jpeg); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 40px;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/dome3.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box{
    background: #143865;
    text-align: center;
    padding: 0px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
}

.menu-icon{
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
}
.setting-icon{
    width: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
}
.profile-pic{
    width: 150px;
    border-radius: 50%;
    background: #C99700;
    padding: 6px;
    margin-top:  40px;
}
.profile-bottom{
    background: #efe9d9;
    color: #143865;
    padding: 60px 0;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;
    margin-top: -10px;
    text-align: center;
    padding-left: 10px;
    padding-top: -10px;
}
.profile-bottom img{
    width: 15px;
    margin-top: 15px;
    cursor: pointer;
}
.profile-box button{
    text-align: center;
    background: #fff;
    color: #8c7535;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(183, 145, 22, 0.5);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600;
    font-size: 16px;
}
.profile-box h3{
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500;
}
.social-media img{
    width: 20px;
    margin: 30px 5px;
    cursor: pointer;
}
