* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin-top: 40px;
}

.navContainer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: top;
    justify-content: center;
}

nav {
    background: #eee0b6;
    border-radius: 50px;
    border-color: #1c4f8f;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0,0,0,0.4); 
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after {
    content: '';
    background: #1c4f8f;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

nav ul li a {
    color: #ae9142;
    text-decoration: none;
}

nav ul li:hover::after {
    top: 50%;
    opacity: 1;
}

nav ul li:hover a {
    color: #fff;
}

.listingsButton {
    position: fixed;
    top: 10px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #1c4f8f;
    border: none;
    color: #ae9142;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

button {
    background-color: #eee0b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1c4f8f;
}












body {
    background-image: url(dome3.jpeg); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.requests-list-container {
    max-width: 900px;
    margin: 20px auto;
    font-family: "Rubik", sans-serif;
    background: white;
    padding-right: 1.5%;
    padding-left: 1.5%;
    padding-top:  1%;
    padding-bottom: 10%;
    background: #efe9d9;
    border: 2px solid #0c2340;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px #c1cddd;
    color: #0c2340;
    border-radius: 10px;
}

.requests-list-container h2 {
    font-size: 30px;
    border-left: 4px solid #023407;
    padding-left: 20px;
}

.requests-list-container .requests {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.requests-list-container .requests img {
    width: 60px
}

.requests-list-container .request {
    box-shadow: 0 4px 24px -8px rgba(2, 48, 61, 0.2);
    padding: 24px;
    border-radius: 16px;
    position: relative;
    transition: all 400ms ease;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.requests-list-container .request:hover {
    transform: scale(1.03)
}

.requests-list-container .open-positions {
    position: absolute;
    bottom: 33px;
    right: 24px;
    color: #ae9142
}

.requests-list-container .Request-Title {
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
    color: #0c2340;
}

.requests-list-container .image-container {
    position: relative;
}

.requests-list-container .NDlogo {
    position: absolute;
    top: 23px;
    right: 20px;
}

.requests-list-container .pfp {
    transform: translateY(-3px);
    top: 0px;
    left: 20px;
}

.requests-list-container .details {
    margin-top: 6px;
    font-size: 14px;
    color: #333;
    line-height: 1.8;
    flex: .1;
    padding-bottom: 5%;
}

.requests-list-container .details-btn {
    position: absolute;
    bottom: 23px;
    left: 10px;
    width: 55%;
    text-decoration: none;
    border: 1px solid #023407;
    color: #000;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 400ms ease;
    z-index: 999;
}

.requests-list-container .details-btn:hover {
    background: #0a843d;
    color: #fff;
}

@media (max-width: 940px) {
    .requests-list-container .requests {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 640px) {
    .requests-list-container .requests {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
    }
}

.listingsButton:hover {
    transform: scale(1.1);
}

.requests-list-container .requ-search {
    width: 100%;
    padding: 12px 24px;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 8px;
    margin-bottom: 20px;
}
